@import url('https://fonts.googleapis.com/css2?family=Abel&family=Balsamiq+Sans:wght@700&family=Dosis:wght@600&family=Montserrat:wght@800&display=swap');

/*  FONTES
font-family: 'Abel', sans-serif;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo img{
    position: relative;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0); 
    margin-top: 20px;
}
#buttons img {
    margin: 5% 11%;
    width: 27%;     
}