@import url('https://fonts.googleapis.com/css2?family=Abel&family=Balsamiq+Sans:wght@700&family=Dosis:wght@600&family=Montserrat:wght@800&display=swap');
/*  FONTES
font-family: 'Abel', sans-serif;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
.content {
    margin: 20px 0;
}
.assunto {
    width: 49%;
    display: inline-block;
}
@media(min-width: 500px){
    body {
        width: 500px;
        margin: 0 auto;
        border: 1px solid #4d2765;
    }
}

