@import url('https://fonts.googleapis.com/css2?family=Abel&family=Balsamiq+Sans:wght@700&family=Dosis:wght@600&family=Montserrat:wght@800&display=swap');
/*  FONTES
font-family: 'Abel', sans-serif;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
.headerMain {
    width: 100% + 1px;
    height: 100px;
    background-color: #b63450;
    margin: -8px -8px 0 -8px;
    position: relative;
}

.subject {
    color: white;
    font-size: 30pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    height: 47.7px;
    left: 50%;
    transform: translate(-50%, 0);
}
.headerDesc {    
    background-color: #4d2765;
    margin: 0 -8px;  
    padding: 7px;  
    text-align: justify;
}
.headerDesc span {       
    color: white;
    font-family: 'Arial', sans-serif;       
    letter-spacing: 1px;
}
h2{
    font-family: Abel;
    font-size: 30pt;
    text-align: center;    
}
.frente {
    margin: 7%;
    width: 35%;
}
#last {
    position: relative;
    left: 50%;
    transform: translate(-70%, 0);
}
